@import "~styles/colors";
@import "~styles/variables";

.issue-detail__header__total-paths {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    text-align: center;
    .title {
        font-weight: 600;
        white-space: nowrap;
    }

    .total {
        white-space: nowrap;
        .number {
            font-size: 48px;
            font-family: $font-family-condensed;
            line-height: 48px;

        }
    }
}