@import '~styles/mixins';
@import '~styles/variables';
@import '~styles/colors';

.unassigned-block {
	padding-bottom: 16px;

	.pdf-table {
		thead {
			tr {
				th {
					color: $color-jet-black;
					font-weight: 400;
					font-size: 8px !important;
				}

				th:nth-child(1) {
					width: 4px !important;
				}
				th:nth-child(2) {
					width: 40px !important;
				}
				th:nth-child(3) {
					width: 40px !important;
				}
				th:nth-child(4) {
					width: 290px !important;
				}
			}
		}
		tbody {
			tr {
				td {
					font-size: 8px !important;
				}
				td:nth-child(1) {
					width: 4px !important;
				}
			}
		}
	}
}
