@import '~styles/variables';
@import '~styles/colors';

.directory-page {
	.title {
		margin-bottom: 16px;

		color: $color-grey16;
		font-weight: 500;
		font-size: 24px;
	}

	.block {
		width: 100%;
		h6 {
			color: $color-black;
			font-weight: 600;
			font-size: 12px;
		}
	}
}
