@import "~styles/colors";
@import "~styles/mixins";

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  min-width: 320px;

  height: 72px;

  line-height: 72px;

  background-color: $color-white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  & > div {
    @include verticalCenter;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 28px;

    cursor: pointer;
    .logo {
      width: 86px;
      height: 40px;
    }
  }
  .action-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    font-size: 14px;
    letter-spacing: 1.2px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;

      color: $color-grey3;

      a {
        padding: 0 8px;

        color: $color-grey3;

        &:hover {
          color: $color-jet-black;
        }

        &.active {
          color: $color-jet-black;
        }
      }
    }
  }
}