@import '~styles/variables';
@import '~styles/colors';

#pdf {
    font-family: $font-family-condensed !important;
    .zh-CN {
        > * {
            font-family: $font-family-noto-sans;
        }

        .block {
            h6 {
                font-size: 9px;
            }
        }
    }
}