@import "~styles/colors";
@import "~styles/variables";

.issue-detail__header__assignee {

    white-space: nowrap;
    .time, 
    .ddl-panel {
        display: flex;
        justify-content: space-between;
        .title {
            display: inline-block;

            font-weight: 600;
        }
        .value {
            display: inline-block;
            margin-top: 1px;
            margin-left: 5px;
        }

        &.user .custom-dropdown {
            z-index: 9;
        }
    }

    .custom-dropdown {
        display: inline-block;
        .dropdown-toggle {
            font-weight: 400;
            font-size: 14px;
            font-family: $font-family-normal;

            .arrow-icon {
                margin-left: 3px;
            }
        }
        .btn {
            text-transform: none;
        }
    }
}