$color-red: #ee3740;
$color-grey1: #ddd;
$color-grey2: #f1f1f2;
$color-grey3: #949699;
$color-grey4: #636466;
$color-grey5: #b1b4b6;
$color-grey6: #f6f6f6;
$color-grey7: #717171;
$color-grey8: #eaeaea;
$color-grey9: #dedddd;
$color-grey10: #939598;
$color-grey11: #d1d1d1;
$color-grey12: #666666;
$color-grey13: #a2a2a2;
$color-grey14: #f3f3f4;
$color-grey15: #e5e5e5;
$color-grey16: #a1a1a1;
$color-grey17: #e8e8e8;

$color-dark-red: #c21a0d;
$color-red2: #dd1623;
$color-pantone: #f7323f;
$color-white: #fff;
$color-black: #231f20;
$color-grey: #d1d3d4;
$color-myth: #3d3437;
$color-myth2: #7e899c;

$color-dark-grey: #333;
$color-pale-grey: #efefef;
$color-pale-grey2: #e6e6e6;
$color-pale-grey3: #eeefef;
$color-mid-grey: #636466;
$color-mid-grey2: #4f5659;
$color-jet-black: #000;

$color-orange: #f78732;
$color-green: #6abf4b;
$color-dark-green: #008000;
$color-blue: #32a2f7;
$color-dark-blue: #034ea2;
$color-violet: #662d91;
$color-yellow: #febe10;
$color-turquoise: #00aaab;
$color-magenta: #ee2a7b;
$color-purple: #93268f;
$color-ink-blue: #42526e;

$color-light-pantone: #f8afb3;
$color-light-orange: #fccfad;
$color-light-blue: #acdafc;

$color-transparent-black: rgba(0, 0, 0, 0.25);
