@font-face {
  font-weight: normal;
  font-family: 'barlowblack';
  font-style: normal;
  src: url('~fonts/barlow-black-webfont.woff2') format('woff2'), url('~fonts/barlow-black-webfont.woff') format('woff'), url('~fonts/barlow-black-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlow_condensedbold';
  font-style: normal;
  src: url('~fonts/barlowcondensed-bold-webfont.woff2') format('woff2'), url('~fonts/barlowcondensed-bold-webfont.woff') format('woff'), url('~fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: 'barlow_condensedmedium';
  font-style: normal;
  src: url('~fonts/barlowcondensed-medium-webfont.woff2') format('woff2'), url('~fonts/barlowcondensed-medium-webfont.woff') format('woff'), url('~fonts/barlowcondensed-medium-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlow_condensedregular';
  font-style: normal;
  src: url('~fonts/barlowcondensed-regular-webfont.woff2') format('woff2'), url('~fonts/barlowcondensed-regular-webfont.woff') format('woff'), url('~fonts/barlowcondensed-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlow_condensedsemibold';
  font-style: normal;
  src: url('~fonts/barlowcondensed-semibold-webfont.woff2') format('woff2'), url('~fonts/barlowcondensed-semibold-webfont.woff') format('woff'), url('~fonts/barlowcondensed-semibold-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlowlight';
  font-style: normal;
  src: url('~fonts/barlow-light-webfont.woff2') format('woff2'), url('~fonts/barlow-light-webfont.woff') format('woff'), url('~fonts/barlow-light-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlowregular';
  font-style: normal;
  src: url('~fonts/barlow-regular-webfont.woff2') format('woff2'), url('~fonts/barlow-regular-webfont.woff') format('woff'), url('~fonts/barlow-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-family: 'barlowsemibold';
  font-style: normal;
  src: url('~fonts/barlow-semibold-webfont.woff2') format('woff2'), url('~fonts/barlow-semibold-webfont.woff') format('woff'), url('~fonts/barlow-semibold-webfont.ttf') format('truetype');
}
@font-face {
  font-weight: 100;
  font-size: normal;
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url('~fonts/NotoSansSCThin.ttf') format('truetype');
}
@font-face {
  font-weight: 300;
  font-size: normal;
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url('~fonts/NotoSansSCLight.ttf') format('truetype');
}
@font-face {
  font-weight: 400;
  font-size: normal;
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url('~fonts/NotoSansSC.ttf') format('truetype');
}
@font-face {
  font-weight: 500;
  font-size: normal;
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url('~fonts/NotoSansSCMedium.ttf') format('truetype');
}
@font-face {
  font-weight: 700;
  font-size: normal;
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url('~fonts/NotoSansSCBold.ttf') format('truetype');
}