$font-family-normal: 'barlowregular' !important;
$font-family-condensed: 'barlow_condensedregular' !important;
$font-family-condensed-bold: 'barlow_condensedbold' !important;
$font-family-condensed-medium: 'barlow_condensedmedium' !important;
$font-family-condensed-semibold: 'barlow_condensedsemibold' !important;
$font-family-noto-sans: 'Noto Sans SC' !important;
