@import '~styles/mixins';

.copy-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 90%;

    transform: translateY(2px);
    cursor: pointer;
}